@if (addEmployeeModalShow()) {
  <app-add-edit-employee-modal
    (close)="closeAddEmployeeModal($event)"
    (getEmployees)="getEmployees()"
    [employee]="employee"
  />
}

<div class="app-padding-left">
  <div class="container-fluid px-3 mb-4">

    <div class="pt-4 pb-1 mb-5 rounded-4 bg-white app-shadow">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список сотрудников</h3>
        <div>
          <button type="button" class="btn btn-light" (click)="addEmployee()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить сотрудника</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getEmployees()">
          <div class="row g-3">

            <div class="col-sm-2">
              <input class="form-control" placeholder="Фамилия" id="surname" formControlName="surname"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Имя" id="name" formControlName="name"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Отчество" id="lastname" formControlName="lastname"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Телефон" id="phoneNumber" formControlName="phoneNumber"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="ИНН" id="taxId" formControlName="taxId"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Должность" id="position" formControlName="position"/>
            </div>
            <div class="col-sm-2">
              <select class="form-select" id="enabled" formControlName="enabled">
                <option [value]="null">Все</option>
                <option [value]="true">Активные</option>
                <option [value]="false">Неактивные</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-select" id="available" formControlName="available">
                <option [value]="null">Все</option>
                <option [value]="true">Доступные</option>
                <option [value]="false">Недоступные</option>
              </select>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <!--<div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>-->
            </div>

          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table app-table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">Сотрудник</th>
            <th scope="col" class="px-4 essp-th-spec-color">Должность</th>
            <th scope="col" class="px-4 essp-th-spec-color">Телефон</th>
            <th scope="col" class="px-4 essp-th-spec-color">Статус</th>
            <th scope="col" class="px-4 essp-th-spec-color"></th>
          </tr>
          </thead>
          <tbody>
            @for (item of employees(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <div class="essp-table-ico">
                    <!--<img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" alt="" height="32">-->
                    <div>
                      <span>{{ item?.surname }} {{ item?.name }} {{ item?.lastname }}</span>
                      <small>{{ item?.email }}</small>
                    </div>
                  </div>
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <i class="ri-nurse-line"></i>
                    <span>{{ item.position }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.phoneNumber }}</span>
                </td>
                <!--<td class="px-4">
                  <span class="essp-table-info">{{ item.interestRate }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.docNo }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.taxId }}</span>
                </td>
                <td class="px-4">
                <span
                  class="{{item.available ? 'essp-status-active' : 'essp-status-inactive'}}">{{ item.available ? 'Доступен' : 'Недоступен' }}</span>
                  &lt;!&ndash;<span class="essp-status-essp-status-pending>{{ item.available ? 'Доступен' : 'Недоступен' }}</span>&ndash;&gt;
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <i class="ri-nurse-line"></i>
                    <span>{{ (item.willBeAvailable | date: 'yyyy.MM.dd HH:MM') || '-' }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.address }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.details }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <i class="ri-nurse-line"></i>
                    <span>{{ item.dateCreated | date: 'yyyy.MM.dd HH:MM' }}</span>
                  </div>
                </td>-->
                <td class="px-4">
                  <span class="{{item.available ? 'essp-status-active' : 'essp-status-inactive'}}">{{ item.enabled ? 'Активен' : 'Неактивен' }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-table-actions justify-content-end">
                    <span class="cursor-pointer" title="Подробнее" (click)="detailEmployee(item)"><i class="bi bi-eye-fill"></i></span>
                    <span class="cursor-pointer" (click)="editEmployee(item)"><i class="bi bi-pencil-square text-warning" title="Изменить"></i></span>
                    <span class="cursor-pointer" (click)="deleteEmployeeInit(item)"><i class="bi bi-trash text-danger" title="Удалить"></i></span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>



@if (deleteEmployeeModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление сотрудника</h1>
          <button type="button" class="btn-close" (click)="deleteEmployeeModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить сотрудника?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteEmployeeModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteEmployee()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}


<p-dialog class="right-full-p-modal" header="Подробная информация" [transitionOptions]="'250ms cubic-bezier(0, 0, 0.2, 1)'" [draggable]="false" [dismissableMask]="true" [modal]="true" [(visible)]="additionalInformationModalShow" [position]="'right'" [style]="{ width: '40%' }">
  <div class="p-4 pt-2 border-top">
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Фамилия</label>
      <div class="text-dark">{{ employee?.surname || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Имя</label>
      <div class="text-dark">{{ employee?.name || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Отчество</label>
      <div class="text-dark">{{ employee?.lastname || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Телефон</label>
      <div class="text-dark">{{ employee?.phoneNumber || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Должность</label>
      <div class="text-dark">{{ employee?.position || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Процент</label>
      <div class="text-dark">{{ employee?.interestRate || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Документ</label>
      <div class="text-dark">{{ employee?.docNo || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">ИНН</label>
      <div class="text-dark">{{ employee?.taxId || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Статус</label>
      <div class="text-dark">
        <span class="{{ employee?.available ? 'essp-status-active' : 'essp-status-inactive' }}">{{ employee?.enabled ? 'Активен' : 'Неактивен' }}</span>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Доступность</label>
      <div class="text-dark">
        <span class="{{ employee?.available ? 'essp-status-active' : 'essp-status-inactive' }}">{{ employee?.available ? 'Доступен' : 'Недоступен' }}</span>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Будет доступен</label>
      <div class="text-dark">{{ employee?.willBeAvailable | date: 'yyyy.MM.dd HH:MM' || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">ИНН</label>
      <div class="text-dark">{{ employee?.taxId || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Адрес</label>
      <div class="text-dark">{{ employee?.address || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Пол</label>
      <div class="text-dark">{{ employee?.gender == 'M' ? 'Мужской' : 'Женский' || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Создан</label>
      <div class="text-dark">{{ employee?.dateCreated | date: 'yyyy.MM.dd HH:MM' || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Описание</label>
      <div class="text-dark">{{ employee?.details || '—' }}</div>
    </div>
  </div>
</p-dialog>
