<!-- Modal -->
<div class="modal fade show d-block" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="addCustomerModalLabel" style="background: rgba(0, 0, 0, .7);">
  <div @openClose class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-4">
        @if (!!this.serviceCategory) {
          <h1 class="modal-title fs-5" id="addCustomerModalLabel">Изменить данные категории</h1>
        } @else {
          <h1 class="modal-title fs-5">Добавить новую категорию</h1>
        }
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="addServiceFormGroup" (submit)="addEditServiceCategory()">
        <div class="modal-body p-4 row">
          <div class="mb-3 col-6">
            <label for="name" class="form-label required">Наименование</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <div class="mb-3 col-6">
            <label for="enabled" class="form-label">Категория</label>
            <div class="form-control">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="enabled" formControlName="enabled">
                <label class="form-check-label" for="enabled">{{ addServiceFormGroup.controls.enabled.value ? 'Активна' : 'Неактивна' }}</label>
              </div>
            </div>
          </div>
          <div class="mb-3 col-6">
            <label for="enabled" class="form-label">Для техника</label>
            <div class="form-control">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="isTechnician" formControlName="isTechnician">
                <label class="form-check-label" for="isTechnician">{{ addServiceFormGroup.controls.isTechnician.value ? 'Да' : 'Нет' }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer p-4">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
          <button type="submit" class="btn btn-primary" [disabled]="addServiceFormGroup.invalid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
