@if (addRecordModalShow()) {
  <app-add-edit-record-modal
    (close)="closeAddRecordModal($event)"
    (getRecords)="getRecords()"
    [record]="record"
  />
}

<div class="px-4 mb-4">
  <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getRecords()">
    <div class="row g-3">

      <div class="col-sm-2">
        <input type="datetime-local" class="form-control" placeholder="Дата начала" formControlName="fromDate">
      </div>
      <div class="col-sm-2">
        <input type="datetime-local" class="form-control" placeholder="Дата конца" formControlName="toDate">
      </div>
      <div class="col-sm-2">
        <p-dropdown
          styleClass="custom-dropdown w-100"
          formControlName="status"
          [options]="statuses()"
          [checkmark]="true"
          [showClear]="true"
          optionLabel="text"/>
      </div>


      <div class="col d-flex align-items-center">
        <button type="submit" class="btn btn-light me-3">
          <i class="ri-search-line me-2"></i>
          <span>Поиск</span>
        </button>
        <!--<button type="button" class="btn btn-light">
          <i class="ri-upload-2-line me-2"></i>
          <span>Экспорт</span>
        </button>-->
      </div>

    </div>
  </form>
</div>

<div class="overflow-auto" style="min-height: 400px;">
  <table class="table app-table mb-4">
    <thead>
    <tr>
      <th scope="col" class="px-4 essp-th-spec-color">№</th>
      <th scope="col" class="px-4 essp-th-spec-color">Пациент</th>
      <th scope="col" class="px-4 essp-th-spec-color">Номер телефона</th>
      <th scope="col" class="px-4 essp-th-spec-color">Лечащий врач</th>
      <!--<th scope="col" class="px-4 essp-th-spec-color">Кресло</th>-->
      <!--<th scope="col" class="px-4 essp-th-spec-color">Лечение</th>-->
      <th scope="col" class="px-4 essp-th-spec-color">Время записи</th>
      <th scope="col" class="px-4 essp-th-spec-color">Статус</th>
      <!--<th scope="col" class="px-4 essp-th-spec-color">Конец</th>-->
      <th scope="col" class="px-4 essp-th-spec-color">Предоплата</th>
      <!--<th scope="col" class="px-4 essp-th-spec-color">Общая сумма</th>-->
      <!--<th scope="col" class="px-4 essp-th-spec-color">Создан</th>-->
      <th scope="col" class="px-4 essp-th-spec-color"></th>
    </tr>
    </thead>
    <tbody>
      @for (item of records(); track $index) {
        <tr class="align-middle">
          <td class="px-4">
            <span class="essp-table-info">{{ item.id }}</span>
          </td>
          <td class="px-4">
            <div class="essp-table-ico">
              <span>{{ item?.customer?.surname }} {{ item?.customer?.name }} {{ item?.customer?.lastname }}</span>
            </div>
          </td>
          <td class="px-4">
            <span class="essp-table-info">{{ item?.customer?.phoneNumber }}</span>
          </td>
          <td class="px-4">
                <span
                  class="essp-table-info">{{ item?.employee?.surname }} {{ item?.employee?.name }} {{ item?.employee?.lastname }}</span>
          </td>
          <!--<td class="px-4">
            <span class="essp-table-info">{{ item?.chair?.name }}</span>
          </td>-->
          <!--<td class="px-4">
            <span class="essp-table-info">
              @for (s of item?.services; track $index) {
                <span class="me-1 p-1 bg-light">{{ s?.name }}</span>
              }
            </span>
          </td>-->
          <td class="px-4">
            <span class="essp-table-info">{{ item.recordingTime | secondsToDate }}</span>
          </td>
          <!--<td class="px-4">
            <span class="essp-table-info">{{ item.endTime | date: 'yyyy.MM.dd HH:MM' }}</span>
          </td>-->
          <td class="px-4">
            <!--<p-dropdown
              styleClass="custom-dropdown"
              [options]="statuses()"
              [checkmark]="true"
              optionLabel="text" />-->
            <select class="form-select form-select-sm" (change)="changeRecordStatus($event, item)">
              @for (status of statuses(); track $index) {
                <option
                  [selected]="status.code == item.status"
                  [value]="status.code"
                  style="cursor: pointer"
                >{{ status.text }}
                </option>
              }
            </select>

            <!--@switch (item?.status) {
              @case (item?.status == 0) {
                <span class="badge rounded-pill bg-label-secondary">Создан</span>  &lt;!&ndash;Created&ndash;&gt;
              }
              @case (item?.status == 1) {
                <span class="badge rounded-pill bg-label-info">Принят</span>  &lt;!&ndash;In Line&ndash;&gt;
              }
              @case (item?.status == 2) {
                <span class="badge rounded-pill bg-label-warning">В процессе</span>  &lt;!&ndash;In Progress&ndash;&gt;
              }
              @case (item?.status == 3) {
                <span class="essp-table-info essp-status-active">Выполнен</span>  &lt;!&ndash;Completed&ndash;&gt;
              }
              @case (item?.status == 4) {
                <span class="badge rounded-pill bg-label-danger">Отменен</span>  &lt;!&ndash;Canceled&ndash;&gt;
              }
            }-->
          </td>
          <td>
            <span class="essp-table-info">{{ item.amountPaid | currency: '':'' }}</span>
          </td>


          <td class="px-4">
            <div class="essp-table-actions">
              <span class="cursor-pointer" title="Подробнее" (click)="detailRecord(item)"><i
                class="bi bi-eye-fill"></i></span>
              <span class="cursor-pointer" (click)="editRecord(item)"><i
                class="bi bi-pencil-square text-warning"></i></span>
              <!--<span class="cursor-pointer" (click)="deleteRecordInit(item)"><i
                class="bi bi-trash text-danger"></i></span>-->
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"/>



@if (deleteRecordModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление записи</h1>
          <button type="button" class="btn-close" (click)="deleteRecordModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить запись?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteRecordModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteRecord()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}

<p-dialog class="right-full-p-modal" header="Подробная информация"
          [transitionOptions]="'250ms cubic-bezier(0, 0, 0.2, 1)'" [draggable]="false" [dismissableMask]="true"
          [modal]="true" [(visible)]="additionalInformationModalShow" [position]="'right'" [style]="{ width: '70%' }">
  <div class="p-4 pt-2 border-top">
    <div class="row m-0">
      <div class="col-4">
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Пациент</label>
          <div
            class="text-dark">{{ record?.customer?.surname }} {{ record?.customer?.name }} {{ record?.customer?.lastname }}
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Номер телефона</label>
          <div class="text-dark">{{ record?.customer?.phoneNumber || '—' }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Лечащий врач</label>
          <div
            class="text-dark">{{ record?.customer?.surname }} {{ record?.customer?.name }} {{ record?.customer?.lastname }}
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Кресло</label>
          <div class="text-dark">{{ record?.chair?.name || '—' }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Время записи</label>
          <div class="text-dark">{{ record?.recordingTime | secondsToDate }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Предоплата</label>
          <div class="text-dark">{{ (record?.amountPaid | currency: '':'') || 0 }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Сумма техника</label>
          <div class="text-dark">{{ (record?.techniqueAmount | currency: '':'') || 0 }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Сумма доктора</label>
          <div class="text-dark">{{ (record?.employeeAmount | currency: '':'') || 0 }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Общая сумма</label>
          <div class="text-dark">{{ (record?.totalPrice | currency: '':'') || 0 }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Дата создания</label>
          <div class="text-dark">{{ (record?.dateCreated | secondsToDate) || '—' }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="text-muted fw-light">Статус</label>
          <div class="text-dark">
            @switch (this.record?.status) {
              @case (this.record?.status == 0) {
                <span class="badge rounded-pill bg-label-secondary">Создан</span>  <!--Created-->
              }
              @case (this.record?.status == 1) {
                <span class="badge rounded-pill bg-label-info">Принят</span>  <!--In Line-->
              }
              @case (this.record?.status == 2) {
                <span class="badge rounded-pill bg-label-warning">В процессе</span>  <!--In Progress-->
              }
              @case (this.record?.status == 3) {
                <span class="essp-table-info essp-status-active">Выполнен</span>  <!--Completed-->
              }
              @case (this.record?.status == 4) {
                <span class="badge rounded-pill bg-label-danger">Отменен</span>  <!--Canceled-->
              }
            }
          </div>
        </div>

      </div>

      <div class="col-4 border-start border-end">
        <div class="text-center d-flex justify-content-center align-items-center">
          Зубная формула
        </div>
        <app-tooth-dental-formula [selectedTooth]="getSelectedToothFromRecordAsSignal(this.record)"/>
      </div>

      <div class="col-3">
        <div class="text-center">Услуги</div>

        <div>
          @for (item of this.record?.details; track $index) {
            <div class="mb-2 mt-3">Зуб: {{ item.toothId }}</div>
            <ul class="list-group list-group-flush border-bottom ms-3">
              @for (service of item.services; track $index) {
                <li class="list-group-item">{{ service?.name }}</li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
  </div>
</p-dialog>

