<div class="app-padding-left">
  <div class="container-fluid px-3 mb-4">
    <div class="py-4 mb-5 rounded-4 bg-white app-shadow">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Зарплата сотрудников</h3>
      </div>

      <div class="px-4 mb-4">
        <form [formGroup]="filter" (submit)="getEmployeesSalaries()" class="needs-validation">
          <div class="row g-3">
            <div class="col-sm-2">
              <p-calendar formControlName="dateFrom" [maxDate]="toDay" [showButtonBar]="true" [inputStyleClass]="'form-control'" view="month" dateFormat="mm.yy" [readonlyInput]="true"/>
            </div>
            <div class="col-sm-1 d-flex justify-content-center align-items-center">—</div>
            <div class="col-sm-2">
              <p-calendar formControlName="dateTo" [maxDate]="toDay" [showButtonBar]="true" [inputStyleClass]="'form-control'" view="month" dateFormat="mm.yy" [readonlyInput]="true"/>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <!--<div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>-->
            </div>
          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">Сотрудник</th>
            <th scope="col" class="px-4 essp-th-spec-color">Должность</th>
            <th scope="col" class="px-4 essp-th-spec-color">Процент</th>
            <th scope="col" class="px-4 essp-th-spec-color">Кол. записей</th>
            <th scope="col" class="px-4 essp-th-spec-color">Общая сумма</th>
            <th scope="col" class="px-4 essp-th-spec-color">Зарплата</th>
          </tr>
          </thead>
          <tbody>
            @for (item of employeesSalaries(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.employee?.surname }} {{ item?.employee?.name }} {{ item?.employee?.lastname }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.employee?.position }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.employee?.interestRate | currency: '':'' }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.recordsCount }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info fw-bold">{{ item?.totalAmount | currency: '':'' }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info fw-bold">{{ item?.salary | currency: '':'' }}</span>
                </td>
              </tr>
            }
          </tbody>
        </table>

        <div class="row m-0">
          <div class="col-12 d-flex hstack fst-normal">
            <div class="mx-2">
              <span class="text-muted">Количество записей:</span> <span class="ms-1 fw-bold"> {{ getTotalRecordsCount() }} </span>
            </div>
            <div class="vr"></div>
            <div class="mx-2">
              <span class="text-muted">Общая сумма:</span> <span
              class="ms-1 fw-bold"> {{ getTotalAmount() | currency: '':'' }} </span>
            </div>
            <div class="vr"></div>
            <div class="mx-2">
              <span class="text-muted">Общая сумма зарплаты:</span> <span
              class="ms-1 fw-bold"> {{ getTotalAmountSalary() | currency: '':'' }} </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
