@if (addEditModalShow()) {
  <app-add-edit-user-modal
    (close)="closeAddEditModal($event)"
    (getUsers)="getUsers()"
    [user]="user"
  />
}

<div>
  <div class="container-fluid px-3 mb-4">

    <div class="pt-4 pb-1 mb-5 rounded-4 bg-white app-shadow">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список пользователей</h3>
        <div>
          <button type="button" class="btn btn-success" (click)="addEmployee()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить пользователя</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getUsers()">
          <div class="row g-3">

            <div class="col-sm-2">
              <input class="form-control" placeholder="Username" id="userName" formControlName="userName"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Телефон" id="phoneNumber" formControlName="phoneNumber"/>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <!--<div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>-->
            </div>

          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table app-table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">ID</th>
            <th scope="col" class="px-4 essp-th-spec-color">Сотрудник</th>
            <th scope="col" class="px-4 essp-th-spec-color">Username</th>
            <th scope="col" class="px-4 essp-th-spec-color">Телефон</th>
            <th scope="col" class="px-4 essp-th-spec-color">Эл.почта</th>
            <th scope="col" class="px-4 essp-th-spec-color">Роль</th>
            <th scope="col" class="px-4 essp-th-spec-color"></th>
          </tr>
          </thead>
          <tbody>
            @for (item of users(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <span class="essp-table-info">{{ item.id }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.employee?.surname }} {{ item?.employee?.name }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.userName }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.employee?.phoneNumber }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.email }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.role }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-table-actions justify-content-end">
                    <span class="cursor-pointer" (click)="editUser(item)">
                      <i class="bi bi-pencil-square text-warning" title="Изменить"></i>
                    </span>
                    <span class="cursor-pointer" (click)="resetPasswordInit(item)">
                      <i class="ri-key-line" title="Сбросить пароль"></i>
                    </span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>


<div class="modal" style="background: rgba(0,0,0,.7)" [class.show]="isResetPassModal()">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <form [formGroup]="passResetFormGroup" (submit)="resetPassword()">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Изменить пароль</h1>
          <button (click)="isResetPassModal.set(false)" type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row ms-0 me-0 gy-3">
            <div class="form-group">
              <label class="form-label required mb-0" for="password">Новый пароль</label>
              <div class="position-relative">
                <input formControlName="password" id="password" type="{{passwordShow() ? 'text' : 'password'}}"
                       class="form-control" required>
                <span class="toggle-password text-black" (click)="passwordShow.set(!passwordShow())">
                  @if (passwordShow()) {
                    <span class="password-show-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                           class="icon--IPrBt"><path
                        d="M21.92 11.6C19.9 6.91 16.1 4 12 4s-7.9 2.91-9.92 7.6a1 1 0 0 0 0 .8C4.1 17.09 7.9 20 12 20s7.9-2.91 9.92-7.6a1.001 1.001 0 0 0 0-.8ZM12 18c-3.17 0-6.17-2.29-7.9-6C5.83 8.29 8.83 6 12 6s6.17 2.29 7.9 6c-1.73 3.71-4.73 6-7.9 6Zm0-10a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4Z"
                        fill="currentColor"></path></svg>
                    </span>
                  } @else {
                    <span class="password-hide-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                           class="icon--IPrBt"><path
                        d="M10.94 6.08c.35-.054.705-.08 1.06-.08 3.18 0 6.17 2.29 7.91 6a15.23 15.23 0 0 1-.9 1.64 1 1 0 0 0 .05 1.152 1 1 0 0 0 1.65-.102c.466-.732.87-1.501 1.21-2.3a1 1 0 0 0 0-.79C19.9 6.91 16.1 4 12 4a7.77 7.77 0 0 0-1.4.12 1.014 1.014 0 1 0 .34 2v-.04ZM3.71 2.29a1.004 1.004 0 1 0-1.42 1.42l3.1 3.09a14.62 14.62 0 0 0-3.31 4.8 1 1 0 0 0 0 .8C4.1 17.09 7.9 20 12 20a9.26 9.26 0 0 0 5.05-1.54l3.24 3.25a1.002 1.002 0 0 0 1.639-.325 1 1 0 0 0-.219-1.095l-18-18Zm6.36 9.19 2.45 2.45a2 2 0 0 1-2.45-2.45ZM12 18c-3.18 0-6.17-2.29-7.9-6a12.09 12.09 0 0 1 2.7-3.79L8.57 10A4 4 0 0 0 14 15.43L15.59 17A7.24 7.24 0 0 1 12 18Z"
                        fill="currentColor"></path></svg>
                    </span>
                  }
                </span>
              </div>
            </div>

            <div class="form-group mt-4">
              <div class="alert alert-light" role="alert">
                <div class="fw-bold fs-6 mb-2">ВНИМАНИЕ!</div>
                <div>Пароль должен содержать от 5 до 25 символов, включая цифры, латинские буквы и символы !&#x40;#&.+-</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="isResetPassModal.set(false)" type="button" class="btn btn-outline-secondary"
                  data-bs-dismiss="modal">
            Отмена
          </button>
          <button type="submit" [disabled]="passResetFormGroup.invalid" class="btn btn-success">
            Сохранить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
