<!-- Modal -->
<div class="modal fade show d-block" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="addCustomerModalLabel" style="background: rgba(0, 0, 0, .7);">
  <div @openClose class="modal-dialog modal-xl modal-dialog-centered" style="width: 80% !important; min-width: 80% !important;">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h1 class="modal-title fs-5" id="addCustomerModalLabel">{{ !!this.record ? 'Изменить' : 'Добавить' }}</h1>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form [formGroup]="addRecordFormGroup" (submit)="addEditRecord()">
        <div class="modal-body row p-4">
          <div class="col-6">
            <div class="row m-0">
              <div class="col-6 mb-3">
                <label for="phoneNumber" class="form-label required">Номер телефона</label>
                <span class="p-fluid d-block">
                  <p-autoComplete
                    id="phoneNumber"
                    [inputStyleClass]="'form-control'"
                    [panelStyleClass]="'bg-white shadow mt-2 rounded pt-1'"
                    formControlName="customerPhoneNumber"
                    (onSelect)="onSelectCustomer($event)"
                    [suggestions]="filteredCustomers()"
                    (completeMethod)="filterCustomers($event)"
                    optionLabel="phoneNumber"
                    required
                  ></p-autoComplete>
                </span>
              </div>
              <!--<div class="col-6 mb-3">
                <label for="phoneNumber" class="form-label required">Номер телефона</label>
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
              </div>-->
              <div class="mb-3 col-6">
                <label for="surname" class="form-label required">Фамилия</label>
                <input type="text" class="form-control" id="surname" formControlName="customerSurname" required>
              </div>
              <div class="mb-3 col-6">
                <label for="name" class="form-label required">Имя</label>
                <input type="text" class="form-control" id="name" formControlName="customerName" required>
              </div>
              <div class="mb-3 col-6">
                <label for="lastname" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="lastname" formControlName="customerLastname">
              </div>
              <div class="col-6 mb-3">
                <label class="form-label required">Лечащий врач</label>
                <ng-multiselect-dropdown
                  class="ng-multiselect-dropdown-full-width"
                  name="services"
                  [placeholder]="'Выберите врача'"
                  [data]="employees()"
                  [(ngModel)]="selectedEmployees"
                  [ngModelOptions]="{standalone: true}"
                  [settings]="employeesSelectSettings"
                  (onSelect)="onSelectEmployees($event)"
                  (onDeSelect)="onDeSelectEmployees($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="col-6 mb-3">
                <label class="form-label required w-100">Начало приема</label>
                <p-calendar [iconDisplay]="'input'" [inputStyleClass]="'form-control'" inputId="recordingTime" formControlName="recordingTime" [showTime]="true" [hourFormat]="'24'" dateFormat="dd.mm.yy" />
                <!--<input type="datetime-local" class="form-control" id="recordingTime"
                       formControlName="recordingTime"
                       [value]="addRecordFormGroup?.controls?.recordingTime?.value"
                       required>-->
              </div>
              <div class="col-6 mb-3">
                <label class="form-label w-100">Конец приема</label>
                <p-calendar [iconDisplay]="'input'" [inputStyleClass]="'form-control'" inputId="recordingTime" formControlName="endTime" [showTime]="true" [hourFormat]="'24'" dateFormat="dd.mm.yy" />
                <!--<input type="datetime-local" class="form-control" id="endTime" formControlName="endTime" [value]="addRecordFormGroup?.controls?.endTime?.value">-->
              </div>
              <!-- <div class="col-12 mb-3">
                 <label for="recordingTime" class="form-label">Время записи</label>
                 <select class="form-select" id="recordingTime" formControlName="recordingTime">
                   @for (item of availableTimes(); track $index) {
                     <option [value]="item">{{ item }}</option>
                   }
                 </select>
               </div>-->
              <div class="col-6 mb-3">
                <label class="form-label">Кресло</label>
                <ng-multiselect-dropdown
                  name="services"
                  [placeholder]="'Выберите кресло'"
                  [data]="chairs()"
                  [(ngModel)]="selectedChairs"
                  [ngModelOptions]="{standalone: true}"
                  [settings]="chairsSelectSettings"
                  (onSelect)="onSelectChairs($event)"
                  (onDeSelect)="onDeSelectChairs($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              @if (!!record) {
                <div class="col-6 mb-3">
                  <label for="status" class="form-label">Статус</label>
                  <select id="status" formControlName="status" class="form-select form-select-sm">
                    @for (status of statuses(); track $index) {
                      <option [selected]="status.code == record.status" [value]="status.code"
                              style="cursor: pointer">{{ status.text }}
                      </option>
                    }
                  </select>
                </div>
              }
              <div class="col-6 mb-3">
                <label for="amountPaid" class="form-label">Предоплата</label>
                <input type="number" class="form-control" id="amountPaid" formControlName="amountPaid">
              </div>
              <div class="col-6 mb-3">
                <label for="amountPaid" class="form-label">Сумма техника</label>
                <input type="number" class="form-control" id="techniqueAmount" formControlName="techniqueAmount">
              </div>
              <div class="col-6 mb-3">
                <label for="amountPaid" class="form-label">Сумма доктора</label>
                <input type="number" class="form-control" id="employeeAmount" formControlName="employeeAmount">
              </div>
              @if (activeToothCode() != null) {
                <div class="col-6 mb-3">
                  <label class="form-label required">Услуги</label>
                  <p-multiSelect
                    class="p-multiSelect-customize"
                    [options]="categoryWithService()"
                    [styleClass]="'d-flex w-100'"
                    [panelStyleClass]="'ps-0'"
                    [(ngModel)]="selectedServices"
                    [ngModelOptions]="{standalone: true}"
                    (onChange)="onSelectService($event) "
                    placeholder=""
                    optionLabel="name"
                    display="chip"
                    [group]="true"
                    [optionGroupChildren]="'services'"
                    [optionGroupLabel]="'name'"
                  />
                </div>
              }
              <div class="col-6 mb-3">
                <label for="totalPrice" class="form-label">Общая сумма</label>
                <input type="number" class="form-control" id="totalPrice" formControlName="totalPrice">
              </div>
            </div>
          </div>
          <div class="col-3 border-start border-end">
            <div class="text-center d-flex justify-content-center align-items-center">
              Выберите зуб на картинке
            </div>
            <app-tooth-dental-formula [selectedTooth]="selectedTooth" (onSelectedTooth)="onSelectedTooth($event)"
                                      (onDeselectTooth)="onDeselectTooth($event)"/>
          </div>
          <div class="col-3">
            <div class="text-center">Услуги</div>

            <div>
              @for (item of this.addRecordFormGroup.controls?.details?.value; track $index) {
                <div class="mb-2 mt-3 d-flex justify-content-between align-items-center">
                  <span>Зуб: <strong>{{ item.toothId }}</strong></span>
                  <span>
                    <!--<button type="button" (click)="onDeselectTooth(item.toothId)" class="btn p-0"><i class="bi bi-x-lg text-danger"></i></button>-->
                  </span>
                </div>
                <ul class="list-group list-group-flush border-bottom ms-3">
                  @for (service of item.services; track $index) {
                    <li class="list-group-item">{{ service?.name }}</li>
                  }
                </ul>
              }
            </div>
          </div>
        </div>
        <div class="modal-footer p-4">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
          <button type="submit" class="btn btn-primary" [disabled]="addRecordFormGroup.invalid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
