<!-- Modal -->
<div class="modal fade show d-block" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="addCustomerModalLabel" style="background: rgba(0, 0, 0, .7);">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h1 class="modal-title fs-5" id="addCustomerModalLabel">{{ !!this.record ? 'Изменить' : 'Добавить' }}</h1>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form [formGroup]="addRecordFormGroup" (submit)="addEditRecord()">
        <div class="modal-body row p-4">
          <div class="mb-3 col-6">
            <label for="surname" class="form-label required">Фамилия</label>
            <input type="text" class="form-control" id="surname" formControlName="surname" required>
          </div>
          <div class="mb-3 col-6">
            <label for="name" class="form-label required">Имя</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <div class="mb-3 col-6">
            <label for="lastname" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
          </div>
          <div class="col-6 mb-3">
            <label for="phoneNumber" class="form-label required">Номер телефона</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
          </div>
          <div class="col-6 mb-3">
            <label for="recordingTime" class="form-label required">Время записи</label>
            <input type="datetime-local" class="form-control" id="recordingTime" formControlName="recordingTime">
          </div>
          <div class="col-6 mb-3">
            <label for="amountPaid" class="form-label">Предоплата</label>
            <input type="text" class="form-control" id="amountPaid" formControlName="amountPaid">
          </div>
          <div class="col-6 mb-3">
            <label class="form-label required">Лечащий врач</label>
            <ng-multiselect-dropdown
              class="ng-multiselect-dropdown-full-width"
              name="services"
              [placeholder]="'Лечащий врач'"
              [data]="employees()"
              [(ngModel)]="selectedEmployees"
              [ngModelOptions]="{standalone: true}"
              [settings]="employeesSelectSettings"
              (onSelect)="onSelectEmployees($event)"
              (onDeSelect)="onDeSelectEmployees($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label required">Кресло</label>
            <ng-multiselect-dropdown
              name="services"
              [placeholder]="'Кресло'"
              [data]="chairs()"
              [(ngModel)]="selectedChairs"
              [ngModelOptions]="{standalone: true}"
              [settings]="chairsSelectSettings"
              (onSelect)="onSelectChairs($event)"
              (onDeSelect)="onDeSelectChairs($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label required">Услуги</label>
            <ng-multiselect-dropdown
              name="services"
              [placeholder]="'Услуги'"
              [data]="services()"
              [(ngModel)]="selectedServices"
              [ngModelOptions]="{standalone: true}"
              [settings]="servicesSelectSettings"
              (onSelect)="onSelectService($event)"
              (onDeSelect)="onDeSelectService($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="modal-footer p-4">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
          <button type="button" class="btn btn-secondary" (click)="console.log(addRecordFormGroup)">Test</button>
          <button type="submit" class="btn btn-primary" [disabled]="addRecordFormGroup.invalid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
