@if (addCustomerModalShow()) {
  <app-add-customer-modal (close)="closeAddCustomerModal($event)" (getCustomers)="getCustomers()" [edit]="isCustEdit" [customer]="customer()"/>
}

@if (customerHistoryShow()) {
  <app-customer-history [customer]="customer()" (close)="customerHistoryHide($event)"/>
}

@if (customerDetailShow()) {
  <app-customer-detail [customer]="customer()" (close)="customerDetailHide($event)"/>
}

<div>
  <div class="container-fluid px-3 mb-4">

    <div class="pt-4 pb-1 mb-5 rounded-4 bg-white app-shadow">
      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список клиентов</h3>
        <div>
          <button type="button" class="btn success" (click)="addCustomer()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить клиента</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getCustomers()">
          <div class="row g-3">
            <div class="col-sm-2">
              <input class="form-control" placeholder="Фамилия" id="surname" formControlName="surname"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Имя" id="name" formControlName="name"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Отчество" id="lastname" formControlName="lastname"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control" placeholder="Телефон" id="phoneNumber" formControlName="phoneNumber"/>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <!--<div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>-->
            </div>

          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table app-table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">Клиент</th>
            <th scope="col" class="px-4 essp-th-spec-color">Номер телефона</th>
            <th scope="col" class="px-4 essp-th-spec-color">Дата добавления</th>
            <th scope="col" class="px-4 essp-th-spec-color"></th>
          </tr>
          </thead>
          <tbody>
            @for (item of customers(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <div class="essp-table-ico">
                    <!--<img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" alt="" height="32">-->
                    <div>
                      <span>{{ item?.surname }} {{ item?.name }} {{ item?.lastname }}</span>
                      <!--<small>{{ item?.email }}</small>-->
                    </div>
                  </div>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.phoneNumber }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <span>{{ item.dateCreated | secondsToDate }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <div class="essp-table-actions justify-content-end">
                    <span class="btn-icon cursor-pointer" title="Подробнее" (click)="detailCustomer(item)">
                      <i class="bi bi-eye-fill"></i>
                    </span>
                    <span class="btn-icon cursor-pointer" title="История" (click)="customerHistory(item)">
                      <i class="ri-history-line"></i>
                    </span>
                    <span class="btn-icon cursor-pointer" title="Редактировать" (click)="editCustomer(item)">
                      <i class="bi bi-pencil-square text-warning"></i>
                    </span>
                    <span class="btn-icon cursor-pointer" title="Удалить" (click)="deleteCustomerInit(item)">
                      <i class="bi bi-trash text-danger"></i>
                    </span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"/>
    </div>
  </div>
</div>


@if (deleteCustomerModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div @openClose class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление клиента</h1>
          <button type="button" class="btn-close" (click)="deleteCustomerModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить клиента?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteCustomerModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteCustomer()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}
