@if (addCustomerModalShow()) {
  <app-add-customer-modal
    (close)="closeAddCustomerModal($event)"
    (getCustomers)="getCustomers()"
    [edit]="isCustEdit"
    [customer]="customer"
  />
}

<div class="app-padding-left">
  <div class="container-fluid px-3 mb-4">

    <div class="pt-4 pb-1 mb-5 rounded-4 bg-white app-shadow">
      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список клиентов</h3>
        <div>
          <button type="button" class="btn btn-light" (click)="addCustomer()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить клиента</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getCustomers()">
          <div class="row g-3">
            <div class="col-sm-2">
              <p-floatLabel>
                <input class="form-control" pInputText id="name" formControlName="name"/>
                <label for="name">Наименование</label>
              </p-floatLabel>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>
            </div>

          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">Клиент</th>
            <th scope="col" class="px-4 essp-th-spec-color">Номер телефона</th>
            <th scope="col" class="px-4 essp-th-spec-color">Дата добавления</th>
            <th scope="col" class="px-4 essp-th-spec-color"></th>
          </tr>
          </thead>
          <tbody>
            @for (item of customers(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <div class="essp-table-ico">
                    <!--<img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" alt="" height="32">-->
                    <div>
                      <span>{{ item?.surname }} {{ item?.name }} {{ item?.lastname }}</span>
                      <!--<small>{{ item?.email }}</small>-->
                    </div>
                  </div>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">+992 {{ item.phoneNumber }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <span>{{ item.dateCreated | secondsToDate }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <div class="essp-table-actions justify-content-end">
                    <span class="cursor-pointer" title="Подробнее" (click)="detailCustomer(item)">
                      <i class="bi bi-eye-fill"></i>
                    </span>
                    <span class="cursor-pointer" title="Редактировать" (click)="editCustomer(item)">
                      <i class="bi bi-pencil-square text-warning"></i>
                    </span>
                    <span class="cursor-pointer" title="Удалить" (click)="deleteCustomerInit(item)">
                      <i class="bi bi-trash text-danger"></i>
                    </span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"/>
    </div>
  </div>
</div>


@if (deleteCustomerModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление клиента</h1>
          <button type="button" class="btn-close" (click)="deleteCustomerModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить клиента?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteCustomerModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteCustomer()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}


<p-dialog class="right-full-p-modal" header="Подробная информация"
          [transitionOptions]="'250ms cubic-bezier(0, 0, 0.2, 1)'" [dismissableMask]="true" [draggable]="false"
          [modal]="true" [(visible)]="additionalInformationModalShow" [position]="'right'" [style]="{ width: '40%' }">
  <div class="p-4 pt-2 border-top">
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Фамилия</label>
      <div class="text-dark">{{ customer?.surname || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Имя</label>
      <div class="text-dark">{{ customer?.name || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Отчество</label>
      <div class="text-dark">{{ customer?.lastname || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Телефон</label>
      <div class="text-dark">{{ customer?.phoneNumber || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Email</label>
      <div class="text-dark">{{ customer?.email || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Документ</label>
      <div class="text-dark">{{ customer?.docNumber || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Адрес</label>
      <div class="text-dark">{{ customer?.address || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Город</label>
      <div class="text-dark">{{ customer?.city || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Улица</label>
      <div class="text-dark">{{ customer?.street || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Квартира</label>
      <div class="text-dark">{{ customer?.homeNumber || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Год рождения</label>
      <div class="text-dark">{{ customer?.birhday || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Пол</label>
      <div class="text-dark">{{ customer?.gender == 'M' ? 'Мужской' : 'Женский' || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Создан</label>
      <div class="text-dark">{{ customer?.dateCreated | date: 'yyyy.MM.dd HH:MM' || '—' }}</div>
    </div>
    <div class="form-group mb-3">
      <label class="text-muted fw-light">Описание</label>
      <div class="text-dark">{{ customer?.details || '—' }}</div>
    </div>
  </div>
</p-dialog>
