@if (addRecordModalShow()) {
  <app-add-edit-record-modal
    (close)="closeAddRecordModal($event)"
    (getRecords)="getRecords()"
    [record]="record()"
  />
}

<div class="scheduler-sector">

  <div class="calendar-area">
    <div class="calendar-block ps-2 pe-2">
      <p-calendar class="max-w-full" [inline]="true" (onSelect)="selectDate($event)" />
    </div>
  </div>

  <div class="scheduler">
    @if (isToday()) {
      <div class="current-time-indicator" [style.top.px]="calculateTop(currentTime())">
        <div class="time-marker"></div>
      </div>
    }

    <!-- Левая колонка с временной шкалой -->
    <div class="time-axis">
      <div class="header-cell"></div> <!-- Пустая ячейка над временем -->
      <div class="time-slots-container" [style.height.px]="totalRows * rowHeight">
        @for (time of timeSlots; track $index) {
          <div class="time-slot" [style.height.px]="rowHeight">
            {{ time }}
          </div>
        }
      </div>
    </div>

    <div class="content-area">
      <!-- Ряд с колонками для записей -->
      <div class="columns-row">
        <!-- Колонка для каждого сотрудника -->
        @for (employee of groupedRecords(); track $index) {
          <div class="employee-column">
            <div class="header-cell employee-header">
              {{ employee.name }} {{ employee.surname }}
            </div>

            <!-- Контейнер-полотно для записей -->
            <div class="appointments-canvas" [style.height.px]="totalRows * rowHeight">
              <!-- Каждая запись позиционируется абсолютно -->
              @for (time of timeSlots; track $index) {
                @if (getRecordByTime(time, employee) != null) {
                  <div (click)="editRecord(getRecordByTime(time, employee))"
                       class="appointment-block user-select-none cursor-pointer text-center {{ getClassNameByRecordStatus(getRecordByTime(time, employee)) }}"
                       [style.top]="getAppointmentStyle(getRecordByTime(time, employee)).top"
                       [style.height]="getAppointmentStyle(getRecordByTime(time, employee)).height"
                  >
                    <strong>
                      {{ getRecordByTime(time, employee).employee?.surname }}
                      {{ getRecordByTime(time, employee).employee?.name }}
                    </strong>
                    <p class="appointment-times" [class.d-block]="manyBlocksTake(getRecordByTime(time, employee))">
                      {{ moment(getRecordByTime(time, employee).recordingTime).format('HH:mm') }}
                      @if (!!getRecordByTime(time, employee).endTime) {
                        —
                        {{ moment(getRecordByTime(time, employee).endTime).format('HH:mm') }}
                      }
                    </p>
                  </div>
                }<!-- @else {
                  <div (click)="createRecord()" class="appointment-block-empty user-select-none cursor-pointer text-center"
                       [style.top]="getAppointmentStyleByTime(time).top">
                    <strong> </strong>
                  </div>
                }-->
              }
            </div>
          </div>
        } @empty {
          @for (i of Array(3).fill(1); track $index) {
            <div class="employee-column">
              <div class="header-cell employee-header"></div>

              <!-- Контейнер-полотно для записей -->
              <div class="appointments-canvas" [style.height.px]="totalRows * rowHeight"></div>
            </div>
          }
        }
      </div>
    </div>
  </div>
</div>
