<!-- Modal -->
<div class="modal fade show d-block" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="addCustomerModalLabel" style="background: rgba(0, 0, 0, .7);">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h1 class="modal-title fs-5" id="addCustomerModalLabel">{{ !!this.employee ? 'Изменить данные сотрудника' : 'Добавить нового сотрудника' }}</h1>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form [formGroup]="addEmployeeFormGroup" (submit)="addEditEmployee()">
        <div class="modal-body row p-4">
          <div class="mb-3 col-6">
            <label for="surname" class="form-label required">Фамилия</label>
            <input type="text" class="form-control" id="surname" formControlName="surname" required>
          </div>
          <div class="mb-3 col-6">
            <label for="name" class="form-label required">Имя</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <div class="mb-3 col-6">
            <label for="lastname" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
          </div>
          <div class="mb-3 col-6">
            <label for="phoneNumber" class="form-label required">Телефон</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" required>
          </div>
          <div class="mb-3 col-6">
            <label for="docNo" class="form-label required">№ документа</label>
            <input type="text" class="form-control" id="docNo" formControlName="docNo" required>
          </div>
          <div class="mb-3 col-6">
            <label for="taxId" class="form-label required">ИНН</label>
            <input type="text" class="form-control" id="taxId" formControlName="taxId" required>
          </div>
          <div class="mb-3 col-6">
            <label for="address" class="form-label required"> Адрес</label>
            <input type="text" class="form-control" id="address" formControlName="address" required>
          </div>
          <div class="mb-3 col-6">
            <label for="enabled" class="form-label required">Активность клиента</label>
            <div class="form-control">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="enabled" formControlName="enabled">
                <label class="form-check-label" for="enabled">{{ addEmployeeFormGroup.controls.enabled.value ? 'Активен' : 'Неактивен' }}</label>
              </div>
            </div>
          </div>
          <div class="mb-3 col-6">
            <label for="position" class="form-label required">Должность</label>
            <input type="text" class="form-control" id="position" formControlName="position" required>
          </div>
          <div class="mb-3 col-6">
            <label for="interestRate" class="form-label required">Процентная ставка</label>
            <input type="text" class="form-control" id="interestRate" formControlName="interestRate" required>
          </div>
          <!--<div class="mb-3 col-6">
            <label for="roomNumber" class="form-label required">Кабинет</label>
            <input type="text" class="form-control" id="roomNumber" formControlName="roomNumber">
          </div>-->
          <div class="mb-3 col-6">
            <label for="willBeAvailable" class="form-label required">Будет доступен</label>
            <input type="datetime-local" class="form-control" id="willBeAvailable" formControlName="willBeAvailable">
          </div>
          <div class="mb-3 pt-2 col-6">
            <label for="available" class="form-label required">Доступность</label>
            <div class="form-control">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="available" formControlName="available">
                <label class="form-check-label" for="available">
                  {{ addEmployeeFormGroup.controls.available.value ? 'Доступен' : 'Недоступен' }}
                </label>
              </div>
            </div>
          </div>
          <div class="mb-3 col-6">
            <label for="details" class="form-label required">Подробнее</label>
            <textarea type="text" cols="3" class="form-control" id="details" formControlName="details" required></textarea>
          </div>
        </div>
        <div class="modal-footer p-4">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Отмена</button>
          <button type="submit" class="btn btn-primary" [disabled]="addEmployeeFormGroup.invalid">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
