@if (addRecordModalShow()) {
  <app-add-edit-record-modal
    (close)="closeAddRecordModal($event)"
    (getRecords)="getRecords()"
    [record]="record"
  />
}


<div class="app-padding-left">
  <div class="container-fluid px-3 mb-4">
    <div class="row g-4 mb-4">

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4 app-shadow">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Количество записей</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-2">20</h3>
                  <p class="text-success mb-1">(+29%)</p>
                </div>
                <small class="mb-0">В этом месяце</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-primary rounded-3">
                  <div class="ri-group-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Активные</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">16</h3>
                  <p class="text-success mb-1">(+18%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-danger rounded-3">
                  <div class="ri-user-add-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">В отпуске</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">4</h3>
                  <p class="text-danger mb-1">(-14%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-success rounded-3">
                  <div class="ri-user-follow-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Заявки</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">11</h3>
                  <p class="text-success mb-1">(+42%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-warning rounded-3">
                  <div class="ri-user-search-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="py-4 mb-5 rounded-4 bg-white app-shadow">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список записей</h3>
        <div>
          <button type="button" class="btn btn-light" (click)="addRecord()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить запись</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getRecords()">
          <div class="row g-3">

            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="Поиск" formControlName="query">
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>
            </div>

          </div>
        </form>
      </div>

      <div class="overflow-auto">
        <table class="table mb-4">
          <thead>
          <tr>
            <th scope="col" class="px-4 essp-th-spec-color">№</th>
            <th scope="col" class="px-4 essp-th-spec-color">Пациент</th>
            <th scope="col" class="px-4 essp-th-spec-color">Телефона</th>
            <th scope="col" class="px-4 essp-th-spec-color">Врач</th>
            <th scope="col" class="px-4 essp-th-spec-color">Кресло</th>
            <th scope="col" class="px-4 essp-th-spec-color">Лечение</th>
            <th scope="col" class="px-4 essp-th-spec-color">Начала</th>
            <th scope="col" class="px-4 essp-th-spec-color">Конец</th>
            <th scope="col" class="px-4 essp-th-spec-color">Предоплата</th>
            <th scope="col" class="px-4 essp-th-spec-color">Общая сумма</th>
            <th scope="col" class="px-4 essp-th-spec-color">Создан</th>
            <th scope="col" class="px-4 essp-th-spec-color"></th>
          </tr>
          </thead>
          <tbody>
            @for (item of records(); track $index) {
              <tr class="align-middle">
                <td class="px-4">
                  <span class="essp-table-info">{{ item.id }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-table-ico">
                    <span>{{ item?.customer?.surname }} {{ item?.customer?.name }} {{ item?.customer?.lastname }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.customer?.phoneNumber }}</span>
                </td>
                <td class="px-4">
                <span
                  class="essp-table-info">{{ item?.employee?.surname }} {{ item?.employee?.name }} {{ item?.employee?.lastname }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item?.chair?.name }}</span>
                </td>
                <td class="px-4">
                <span class="essp-table-info">
                  @for (s of item?.services; track $index) {
                    <span class="me-1 p-1 bg-light">{{ s?.name }}</span>
                  }
                </span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.recordingTime | date: 'yyyy.MM.dd HH:MM' }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.endTime | date: 'yyyy.MM.dd HH:MM' }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.amountPaid }}</span>
                </td>
                <td class="px-4">
                  <span class="essp-table-info">{{ item.totalPrice }}</span>
                </td>
                <td class="px-4">
                  <div class="essp-status-position">
                    <span>{{ item.dateCreated | date: 'yyyy.MM.dd HH:MM' }}</span>
                  </div>
                </td>
                <td class="px-4">
                  <div class="essp-table-actions">
                  <span class="cursor-pointer" (click)="editRecord(item)"><i
                    class="bi bi-pencil-square text-warning"></i></span>
                    <span class="cursor-pointer" (click)="editRecord(item)"><i class="bi bi-trash text-danger"></i></span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"/>

    </div>
  </div>
</div>


@if (deleteRecordModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление записи</h1>
          <button type="button" class="btn-close" (click)="deleteRecordModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить запись?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteRecordModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteRecord()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}
