<div>
  <div class="container-fluid px-3">
    <!--<div class="row g-4 mb-4">

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4 app-shadow">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Количество записей</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-2">20</h3>
                  <p class="text-success mb-1">(+29%)</p>
                </div>
                <small class="mb-0">В этом месяце</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-primary rounded-3">
                  <div class="ri-group-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Активные</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">16</h3>
                  <p class="text-success mb-1">(+18%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-danger rounded-3">
                  <div class="ri-user-add-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">В отпуске</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">4</h3>
                  <p class="text-danger mb-1">(-14%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-success rounded-3">
                  <div class="ri-user-follow-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card border-0 rounded-4" style="box-shadow: 0 .25rem .875rem 0 rgba(38,43,67,.16)">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Заявки</p>
                <div class="d-flex align-items-center">
                  <h3 class="mb-1 me-1">11</h3>
                  <p class="text-success mb-1">(+42%)</p>
                </div>
                <small class="mb-0">Текст</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-warning rounded-3">
                  <div class="ri-user-search-line ri-26px h2 text-secondary"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="pt-4 mb-5 rounded-4 bg-white app-shadow overflow-hidden">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center w-100">
        <div class="d-flex justify-content-between w-100">
          <h3>Список записей</h3>
          <div class="button-toggle">
            <div class="tabs">
              <input type="radio" id="radio-1" name="tabs" (click)="changeTab(TabActiveEnum.List)" [checked]="tabActive() == TabActiveEnum.List"/>
              <label for="radio-1" class="user-select-none tab {{ tabActive() == TabActiveEnum.List ? 'tab-active' : '' }}">
                <i class="ri-file-list-line"></i>
                <span class="ms-2">Список</span>
              </label>
              <input type="radio" id="radio-2" name="tabs" (click)="changeTab(TabActiveEnum.Table)" [checked]="tabActive() == TabActiveEnum.Table"/>
              <label for="radio-2" class="tab user-select-none {{ tabActive() == TabActiveEnum.Table ? 'tab-active' : '' }}">
                <i class="ri-list-check"></i>
                <span class="ms-2">Таблица</span>
              </label>
              <input type="radio" id="radio-3" name="tabs" (click)="changeTab(TabActiveEnum.Calendar)" [checked]="tabActive() == TabActiveEnum.Calendar"/>
              <label for="radio-3" class="tab user-select-none {{ tabActive() == TabActiveEnum.Calendar ? 'tab-active' : '' }}">
                <i class="ri-calendar-todo-line"></i>
                <span class="ms-2">Календарь</span>
              </label>
              <span class="glider"></span>
            </div>
          </div>
          <!--<div class="btn-group btn-group-custom" role="group">
            <input type="radio" class="btn-check" (click)="changeTab(TabActiveEnum.Table)"
                   name="tableTab" id="tableTab" autocomplete="off" [checked]="tabActive() == TabActiveEnum.Table">
            <label class="btn btn-sm btn-outline-secondary d-flex align-items-center" for="tableTab">
              <i class="ri-list-check"></i>
              <span class="ms-2">Таблица</span>
            </label>

            <input type="radio" class="btn-check" (click)="changeTab(TabActiveEnum.Calendar)"
                   name="calendarTab" id="calendarTab" autocomplete="off" [checked]="tabActive() == TabActiveEnum.Calendar">
            <label class="btn btn-sm btn-outline-secondary d-flex align-items-center" for="calendarTab">
              <i class="ri-calendar-todo-line"></i>
              <span class="ms-2">Календарь</span>
            </label>
          </div>-->

          <div>
            <button type="button" class="btn btn-success" (click)="addRecord.set(true)">
              <i class="ri-add-line me-2"></i>
              <span>Добавить запись</span>
            </button>
          </div>
        </div>
      </div>

      @switch (tabActive()) {
        @case (TabActiveEnum.List) {
          <app-records-list @fade [addRecord]="addRecord()" (closeAddRecord)="closeAddRecord()"></app-records-list>
        }
        @case (TabActiveEnum.Table) {
          <app-records-table @fade [addRecord]="addRecord()" (closeAddRecord)="closeAddRecord()"></app-records-table>
        }
        @case (TabActiveEnum.Calendar) {
          <app-calendar @fade [addRecord]="addRecord()" (closeAddRecord)="closeAddRecord()"></app-calendar>
        }
      }

    </div>
  </div>
</div>



