@if (toastService.toasts().length > 0) {
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container p-3 bottom-0 start-50 translate-middle-x position-fixed bottom-2 mb-4">
      @for (toast of toastService.toasts(); track toast.id) {
        <div class="toast show {{toast?.flag}}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body p-3 d-flex align-items-center justify-content-between">
            <div>
              {{ toast?.message }}
            </div>
            <div>
              <button type="button" (click)="toastService.clearToast(toast)" class="btn-close" data-bs-dismiss="toast"
                      aria-label="Close"></button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
