<aside class="essp-aside pt-1" [class.essp-aside-hide]="!isActiveMenuBar()">

  <div class="app-brand">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo">
        <span>
          A
        </span>
      </span>
      <span class="app-brand-text menu-text fw-semibold ms-3">Adminpanel</span>
    </a>

    <!--<a class="layout-menu-toggle menu-link text-large ms-auto">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z"
          fill-opacity="0.9"></path>
        <path
          d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z"
          fill-opacity="0.4"></path>
      </svg>
    </a>-->
  </div>

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/dashboard" routerLinkActive="essp-rout-active">
        <i class="ri-dashboard-line me-2"></i>
        <span>Панель управления</span>
        <div class="essp-main-menu-notification px-2"></div>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a pRipple routerLink="/admin/records" routerLinkActive="essp-rout-active">
        <i class="ri-list-ordered-2 me-2"></i>
        <span>Записи</span>
        <div class="essp-main-menu-notification px-2"></div>
      </a>
    </li>
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/employees" routerLinkActive="essp-rout-active">
        <i class="ri-user-community-line me-2"></i>
        <span>Сотрудники</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/customers" routerLinkActive="essp-rout-active">
        <i class="ri-group-line me-2"></i>
        <span>Клиенты</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a pRipple routerLink="/admin/services" routerLinkActive="essp-rout-active"
         [routerLinkActiveOptions]="{exact: true}">
        <i class="ri-list-unordered me-2"></i>
        <span>Услуги</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a pRipple routerLink="/admin/services/category" routerLinkActive="essp-rout-active">
        <i class="ri-list-radio me-2"></i>
        <span>Категории услуги</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a pRipple routerLink="/admin/chairs" routerLinkActive="essp-rout-active">
        <i class="ri-list-check me-2"></i>
        <span>Кресла</span>
      </a>
    </li>
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/employee-salary" routerLinkActive="essp-rout-active">
        <i class="ri-currency-line me-2"></i>
        <span>Зарплата сотрудников</span>
      </a>
    </li>
    <!--<li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/total-income" routerLinkActive="essp-rout-active">
        <i class="ri-file-chart-line me-2"></i>
        <span>Отчетность</span>
      </a>
    </li>-->
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a pRipple routerLink="/admin/users" routerLinkActive="essp-rout-active">
        <i class="ri-currency-line me-2"></i>
        <span>Пользователи</span>
      </a>
    </li>
  </ul>
</aside>

<div [class.app-padding-left]="isActiveMenuBar()">
  <div>
    <div class="px-3 mb-4 bg-white p-2 d-flex justify-content-between align-items-center app-shadow">
      <!--<div><input type="text" class="form-control border-0 app-background" placeholder="Поиск"></div>-->
      <div class="menu-btn px-1" (click)="toggleMenuFn()">
        <span>
          <i class="ri-menu-line fs-3"></i>
        </span>
      </div>
      <div dropdown [open]="isMenuProfile()" (clickOutside)="isMenuProfile.set(false)" (click)="toggleMenuProfile()"
           class="essp-table-ico cursor-pointer position-relative">
        <div class="border bg-light me-2 rounded-5 d-flex justify-content-center align-items-center" style="width: 36px; height: 36px;">
          <span class="fw-bold">{{ getFirstLatterEmployeeName() }}</span>
        </div>
        <div>
          <span>{{ employee?.name + ' ' + employee?.surname }}</span>
          <small>Администратор</small>
        </div>

        <div class="menu-panel custom-dropdown-menu d-none" [class.show]="isMenuProfile()">
          <div class="menu-content">
            <div pRipple class="menu-item" routerLink="/admin/profile">
              <span><i class="ri-user-line"></i></span>
              <span>Профиль</span>
            </div>
            <hr >
            <div pRipple class="menu-item" (click)="logout()">
              <span><i class="ri-logout-box-r-line"></i></span>
              <span>Выход</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<nav class="navbar navbar-expand-xl fixed-top shadow-sm" style="background-color: #ffffff; z-index: 1090;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">
      &lt;!&ndash;<span class="site_link">ДАВРОНОВ</span>&ndash;&gt;
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/admin/records" routerLinkActive="active">Записи</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/records-history" routerLinkActive="active">История записей</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/customers" routerLinkActive="active">Клиенская база</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/employees" routerLinkActive="active">Сотрудники</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/services" routerLinkActive="active">Виды услуг</a></li>
      </ul>

      &lt;!&ndash;<div class="ib-profile">
        <div>
          <span class="nav-link text-light" href="#">{{ user?.firstName + ' ' + user?.lastName + ' (' + user.position  + ')' }}</span>
        </div>
        <div class="text-end ib-profile-links">
          <span class="col" href="#" routerLink="/profile">Профиль</span>
          <span class="col ms-2" href="#" (click)="logout()">Выход</span>
        </div>
      </div>&ndash;&gt;
    </div>
  </div>
</nav>
-->



