<aside class="essp-aside pt-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/admin/dashboard" routerLinkActive="essp-rout-active">
        <i class="ri-dashboard-line me-2"></i>
        <span>Панель управления</span>
        <div class="essp-main-menu-notification px-2"><span>10</span></div>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a routerLink="/admin/records" routerLinkActive="essp-rout-active">
        <i class="menu-icon tf-icons ri-calendar-line me-2"></i>
        <span>Записи</span>
        <div class="essp-main-menu-notification px-2"><span>32</span></div>
      </a>
    </li>
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/admin/employees" routerLinkActive="essp-rout-active">
        <i class="ri-group-line me-2"></i>
        <span>Сотрудники</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/admin/customers" routerLinkActive="essp-rout-active">
        <i class="ri-group-line me-2"></i>
        <span>Клиенты</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a routerLink="/admin/services" routerLinkActive="essp-rout-active" [routerLinkActiveOptions]="{exact: true}">
        <i class="ri-list-check me-2"></i>
        <span>Услуги</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a routerLink="/admin/services/category" routerLinkActive="essp-rout-active">
        <i class="ri-list-check me-2"></i>
        <span>Категории услуги</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a routerLink="/admin/chairs" routerLinkActive="essp-rout-active">
        <i class="ri-list-check me-2"></i>
        <span>Кресла</span>
      </a>
    </li>
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/admin/employee-salary" routerLinkActive="essp-rout-active">
        <i class="bi bi-cash-stack me-2"></i>
        <span>Зарплата сотрудников</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/admin/employees" routerLinkActive="essp-rout-active">
        <i class="bi bi-wallet2 me-2"></i>
        <span>Общий доход</span>
      </a>
    </li>
  </ul>

  <hr class="my-1">

  <ul class="essp-main-menu p-2 m-0">
    <li class="px-2 py-1 rounded mb-1">
      <a routerLink="/sms" routerLinkActive="essp-rout-active">
        <i class="ri-discuss-line me-2"></i>
        <span>СМС-рассылка</span>
      </a>
    </li>
    <li class="px-2 py-1 rounded">
      <a routerLink="/settings" routerLinkActive="essp-rout-active">
        <i class="ri-equalizer-line me-2"></i>
        <span>Настройки</span>
      </a>
    </li>
  </ul>

</aside>

<div class="pt-3 app-padding-left">
  <div class="container-fluid px-3 mb-4">
    <div class="rounded-4 bg-white p-4 d-flex justify-content-between align-items-center app-shadow">
      <div><input type="text" class="form-control border-0 app-background" placeholder="Поиск"></div>
      <div class="essp-table-ico">
        <img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" alt="" height="32">
        <div>
          <span>Даврон Саидов</span>
          <small>Администратор</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<nav class="navbar navbar-expand-xl fixed-top shadow-sm" style="background-color: #ffffff; z-index: 1090;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">
      &lt;!&ndash;<span class="site_link">ДАВРОНОВ</span>&ndash;&gt;
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/admin/records" routerLinkActive="active">Записи</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/records-history" routerLinkActive="active">История записей</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/customers" routerLinkActive="active">Клиенская база</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/employees" routerLinkActive="active">Сотрудники</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/services" routerLinkActive="active">Виды услуг</a></li>
      </ul>

      &lt;!&ndash;<div class="ib-profile">
        <div>
          <span class="nav-link text-light" href="#">{{ user?.firstName + ' ' + user?.lastName + ' (' + user.position  + ')' }}</span>
        </div>
        <div class="text-end ib-profile-links">
          <span class="col" href="#" routerLink="/profile">Профиль</span>
          <span class="col ms-2" href="#" (click)="logout()">Выход</span>
        </div>
      </div>&ndash;&gt;
    </div>
  </div>
</nav>
-->



