@if (addServiceModalShow()) {
  <app-add-edit-service-modal
    (close)="closeAddServiceModal($event)"
    (getServices)="getServices()"
    [service]="service"
  />
}

<div>
  <div class="container-fluid px-3 mb-4">
    <div class="pt-4 pb-1 mb-5 rounded-4 bg-white app-shadow">

      <div class="px-4 mb-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">Список услуг</h3>
        <div>
          <button type="button" class="btn btn-success" (click)="addService()">
            <i class="ri-add-line me-2"></i>
            <span>Добавить услугу</span>
          </button>
        </div>
      </div>

      <div class="px-4 mb-4">
        <form class="needs-validation" [formGroup]="filter" (ngSubmit)="getServices()">
          <div class="row g-3">
            <div class="col-sm-2">
              <input class="form-control" id="name" placeholder="Наименование" formControlName="name"/>
            </div>
            <div class="col-sm-2">
              <select class="form-select" formControlName="enabled">
                @for(item of enabledArr(); track $index) {
                  <option [value]="item?.value">{{ item?.label }}</option>
                }
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-select" formControlName="category">
                <option [value]="null">Все котегории</option>
                @for(item of categories(); track $index) {
                  <option [value]="item?.id">{{ item?.name }}</option>
                }
              </select>
            </div>

            <div class="col d-flex align-items-center">
              <button type="submit" class="btn btn-light me-3">
                <i class="ri-search-line me-2"></i>
                <span>Поиск</span>
              </button>
              <!--<div class="vr h-75 mx-3 align-self-auto"></div>
              <button type="button" class="btn btn-light">
                <i class="ri-upload-2-line me-2"></i>
                <span>Экспорт</span>
              </button>-->
            </div>
          </div>
        </form>
      </div>

      <table class="table app-table mb-4">
        <thead>
        <tr>
          <th scope="col" class="px-4 essp-th-spec-color">Наименование</th>
          <th scope="col" class="px-4 essp-th-spec-color">Категория</th>
          <th scope="col" class="px-4 essp-th-spec-color">Продолжительность</th>
          <th scope="col" class="px-4 essp-th-spec-color">Цена</th>
          <th scope="col" class="px-4 essp-th-spec-color">Активность</th>
          <th scope="col" class="px-4 essp-th-spec-color"></th>
        </tr>
        </thead>
        <tbody>
          @for (item of services(); track $index) {
            <tr class="align-middle">
              <td class="px-4">
                <div class="essp-status-position">
                  <span>{{ item.name }}</span>
                </div>
              </td>
              <td class="px-4">
                <span class="essp-table-info">{{ item?.category?.name }}</span>
              </td>
              <td class="px-4">
                <span class="essp-table-info">{{ item.duration }}</span>
              </td>
              <td class="px-4">
                <span class="essp-table-info">{{ item.price | currency: '':'' }} TJS</span>
              </td>
              <td class="px-4">
                <span
                  class="{{item.enabled ? 'essp-status-active' : 'essp-status-inactive'}}">{{ item.enabled ? 'Активна' : 'Неактивна' }}</span>
              </td>
              <td class="px-4">
                <div class="essp-table-actions justify-content-end">
                  <span class="btn-icon cursor-pointer" (click)="editService(item)"><i class="bi bi-pencil-square text-warning"
                                                                              title="Изменить"></i></span>
                  <span class="btn-icon cursor-pointer" (click)="deleteServiceInit(item)"><i class="bi bi-trash text-danger"
                                                                                    title="Удалить"></i></span>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <app-pagination [total_pages]="total_pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>


@if (deleteServiceModalShow()) {
  <!-- Modal -->
  <div class="modal fade show d-block" style="background: rgba(0,0,0,.7)" id="deleteCustomerConfirm"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCustomerConfirmLabel">
    <div @openClose class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCustomerConfirmLabel">Удаление услуги</h1>
          <button type="button" class="btn-close" (click)="deleteServiceModalShow.set(false)" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-danger fs-5">Удалить услугу?</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteServiceModalShow.set(false)"
                  data-bs-dismiss="modal">Отмена
          </button>
          <button type="button" (click)="deleteService()" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
}
