/*@import url(montserrat.scss);*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: rgb(250, 250, 250);
  font-weight: 500;
  min-width: 960px;
}

.site_link {
  color: #26aba3;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .2rem;
  font-style: oblique;
  text-decoration: underline;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

select {
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
  color: inherit;
  background-color: #FFD400;
}

.list-group-vertical > li {
  cursor: pointer;
}

.ib-filter {
  width: 280px;
  position: fixed;
  max-height: calc(100vh - 6em);
  overflow: auto;
  transition: all .2s linear;
}

.table-child {
  width: 100%;
}

.table-esp tbody tr td:first-child {
  width: 50%;
}

.table-child tr {
  border-bottom: 1px dashed #eee;
}

.table-child tr:last-child {
  border: none;
}

.table-child tr td {
  padding: 0.2em 0;
}

.table-esp tr td:first-child {
  color: #999;
}

.table-files {
  border: 1px solid rgb(240, 240, 240);
}

.table-files th, .table-files td {
  padding: 0.2em 0.5em !important;
}

.table-files thead {
  background-color: rgb(240, 240, 240);
}

.table-files thead tr th {
  width: 25%;
}

/*

.ib-filter:has(.hide) {
  margin-left: calc(-280px - 2rem) !important;
  background-color: #58151c !important;
}

*/

.ib-content {
  transition: all .2s linear;
}

label {
  font-size: 0.9em;
}

input, select, button, ul > li > a, span {
  font-size: inherit;
  font-weight: inherit;
}

.list-group-item-action {
  width: auto;
  cursor: pointer;
}

.list-group-item.active {
  background-color: #525F7B;
  border-color: #525F7B;
}


.ib-content-filter {
  padding-left: calc(280px + 1rem);
  transition: all .2s linear;
}

tr:hover > td {
  background-color: rgb(250, 250, 250);
}

.required:after {
  content: '*';
  color: red;
  margin-left: .25rem;
}


/*------------------------------------------------------------------------------------------------*/
body {
  background-color: #f7f7f9;
  font-size: 16px !important;
  color: #3b4056 !important;
  font-family: "Inter", sans-serif;
}

.essp-aside {
  width: 280px;
  background-color: #282a42;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.essp-main-menu {
  width: 100%;
  list-style: none;
  padding: 0;
}

.essp-main-menu > li {
  cursor: pointer;
  position: relative;
}

.essp-main-menu-notification {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.essp-main-menu-notification > span {
  background-color: rgb(255, 77, 73);
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0 0.3em;
}


.essp-main-menu > li:hover {
  background-color: rgba(247, 247, 249, .06);
}

li:has(>.essp-rout-active) {
  background-color: #666cff !important;
}

.essp-main-menu > li > a {
  color: #d7d8ee;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.essp-main-menu > li > a > i {
  font-size: 1.5em;
}

.essp-table-ico {
  display: flex;
  align-items: center;
}

.essp-table-ico > img {
  margin-right: 0.8em;
}

.essp-table-ico > div {
  display: flex;
  flex-direction: column;
}

.essp-table-ico > div > span {
  font-weight: 500;
  text-transform: none;
  margin-bottom: -0.2em;
  color: #3b4056 !important;
}

.essp-table-ico > div > small {
  font-size: 0.8em;
  color: #676b7b;
}

.essp-status-position {
  display: flex;
  align-items: center;
}

.essp-status-position > i {
  font-size: 1.2em;
  margin-right: 0.2em;
}

.essp-table-actions {
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

.essp-table-actions > i {
  cursor: pointer;
}

.essp-status-active {
  background-color: #e8fadd;
  color: #72e128;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-status-inactive {
  background-color: #e8e9ed;
  color: #6d788d;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-status-pending {
  background-color: #fff3dd;
  color: #fdb528;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-th-spec-color {
  color: #3b4056 !important;
  background-color: #f5f5f7 !important;
  border-bottom: none;
  font-weight: 400;
}

table {
  --bs-table-color: #676b7b !important;
}

.app-shadow {
  box-shadow: 0 .25rem .875rem 0 rgba(38, 43, 67, .16) !important;
}

.app-padding-left {
  padding-left: 280px !important;
}

.app-background {
  background-color: #f7f7f9 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

span:has(i.bi) {
  padding: 0.1rem 0.25rem !important;
  transition: all 100ms linear;
}

ng-multiselect-dropdown .selected-item-container .selected-item {
  max-width: 100% !important;
  margin-bottom: 0.25rem !important;
  background-color: #e5e7eb !important;
  color: #4b5563 !important;
  border: none !important;
}

ng-multiselect-dropdown .selected-item-container .selected-item a {
  position: relative !important;
  font-weight: 600 !important;
  color: #4b5563 !important;
  width: 20px !important;
  text-align: center !important;
  user-select: none;
}

ng-multiselect-dropdown .selected-item-container .selected-item a:hover {

}

ng-multiselect-dropdown .dropdown-btn {
  border: 1px solid #dee2e6 !important;
}

/*ng-multiselect-dropdown .selected-item-container .selected-item a:before {
  content: '×';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}*/

/*----------------------------------------------------------*/

p-auto-complete ul.p-auto-complete-items,
p-autocomplete ul.p-autocomplete-items {
  list-style: none !important;
  padding-left: 0 !important;
}

p-auto-complete ul.p-auto-complete-items li,
p-autocomplete ul.p-autocomplete-items li {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem !important;
  transition: all 200ms linear;
  border-bottom: 1px #f1f1f1 solid !important;
}

p-auto-complete ul.p-auto-complete-items li:last-child,
p-autocomplete ul.p-autocomplete-items li:last-child {
  border-bottom: none !important;
}

p-auto-complete ul.p-auto-complete-items li:hover,
p-autocomplete ul.p-autocomplete-items li:hover {
  background-color: #f1f1f1 !important;
}

p-multiselect.p-multiselect {
  width: 100% !important;
}

/*-------------------------------------------------------------------------------*/

.p-multiSelect-customize1 .p-multiselect-header .p-checkbox-box,
.p-multiSelect-customize1 p-multiselectitem .p-checkbox-box {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.p-multiSelect-customize .p-multiselect-items {
  padding-left: 0 !important;
}

.p-multiSelect-customize .p-multiselect-label {
  padding: 0.4rem !important;
}

.p-multiSelect-customize .p-multiselect-label .p-multiselect-token {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  border-radius: 8px !important;
}

.p-multiSelect-customize .p-multiselect-header .p-multiselect-filter-container input {
  min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: var(--bs-border-radius-sm);
}

/*-------------------------------------------------------------------------------*/

.right-full-p-modal .p-element {
  max-height: 100% !important;
  height: 100% !important;
  margin-right: 0 !important;
}

/*-------------------------------------------------------------------------------*/

.records-skeleton p-skeleton {
  display: flex;
  align-items: flex-end;
}

.records-skeleton p-skeleton:nth-child(1) .p-skeleton {
  height: 25px !important;
}

.records-skeleton p-skeleton:nth-child(2) .p-skeleton {
  height: 50px !important;
}

.records-skeleton p-skeleton:nth-child(3) .p-skeleton {
  height: 75px !important;
}

.records-skeleton p-skeleton:nth-child(4) .p-skeleton {
  height: 100px !important;
}

.records-skeleton p-skeleton:nth-child(5) .p-skeleton {
  height: 125px !important;
}

.records-skeleton p-skeleton:nth-child(6) .p-skeleton {
  height: 150px !important;
}

.records-skeleton p-skeleton:nth-child(7) .p-skeleton {
  height: 175px !important;
}

.records-skeleton p-skeleton:nth-child(8) .p-skeleton {
  height: 200px !important;
}

.records-skeleton p-skeleton:nth-child(9) .p-skeleton {
  height: 225px !important;
}

.records-skeleton p-skeleton:nth-child(10) .p-skeleton {
  height: 250px !important;
}

.records-skeleton p-skeleton:nth-child(11) .p-skeleton {
  height: 275px !important;
}

.records-skeleton p-skeleton:nth-child(12) .p-skeleton {
  height: 300px !important;
}

.records-skeleton p-skeleton:nth-child(13) .p-skeleton {
  height: 325px !important;
}

.records-skeleton p-skeleton:nth-child(14) .p-skeleton {
  height: 350px !important;
}

.records-skeleton p-skeleton:nth-child(15) .p-skeleton {
  height: 375px !important;
}

/*-------------------------------------------------------------------------------*/

.skeleton {
  background-color: #e5e7eb;
  border-radius: 6px;
  width: 2rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
}

.skeleton::after {
  content: "";
  animation: skeleton-animation 1.2s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  right: 0;
  top: 0;
  transform: translate(-100%);
  z-index: 1;
}

@keyframes skeleton-animation {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(100%);
  }
}

.p-calendar {
  width: 100% !important;
}

.bg-label-danger {
  background-color: #ffe3e2 !important;
  color: #ff4d49 !important;
}

.bg-label-secondary {
  background-color: #e8e9ed !important;
  color: #6d788d !important;
}

.bg-label-success {
  background-color: #e8fadd !important;
  color: #72e128 !important;
}

.bg-label-primary {
  background-color: #e7e7ff !important;
  color: #666cff !important;
}

.bg-label-info {
  background-color: #dcf6fe !important;
  color: #26c6f9 !important;
}

.bg-label-warning {
  background-color: #fff3dd !important;
  color: #fdb528 !important;
}

