/*@import url(montserrat.scss);*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*/

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: rgb(250, 250, 250);
  font-weight: 500;
  min-width: 960px;
}

.site_link {
  color: #26aba3;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .2rem;
  font-style: oblique;
  text-decoration: underline;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

select {
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
  color: inherit;
  background-color: #FFD400;
}

.list-group-vertical > li {
  cursor: pointer;
}

.ib-filter {
  width: 280px;
  position: fixed;
  max-height: calc(100vh - 6em);
  overflow: auto;
  transition: all .2s linear;
}

.table-child {
  width: 100%;
}

.table-esp tbody tr td:first-child {
  width: 50%;
}

.table-child tr {
  border-bottom: 1px dashed #eee;
}

.table-child tr:last-child {
  border: none;
}

.table-child tr td {
  padding: 0.2em 0;
}

.table-esp tr td:first-child {
  color: #999;
}

.table-files {
  border: 1px solid rgb(240, 240, 240);
}

.table-files th, .table-files td {
  padding: 0.2em 0.5em !important;
}

.table-files thead {
  background-color: rgb(240, 240, 240);
}

.table-files thead tr th {
  width: 25%;
}

/*

.ib-filter:has(.hide) {
  margin-left: calc(-280px - 2rem) !important;
  background-color: #58151c !important;
}

*/

.ib-content {
  transition: all .2s linear;
}

label {
  font-size: 0.9em;
}

input, select, button, ul > li > a, span {
  font-size: inherit;
  font-weight: inherit;
}

.list-group-item-action {
  width: auto;
  cursor: pointer;
}

.list-group-item.active {
  background-color: #525F7B;
  border-color: #525F7B;
}


.ib-content-filter {
  padding-left: calc(280px + 1rem);
  transition: all .2s linear;
}

.app-table tr:hover > td {
  background-color: rgb(250, 250, 250);
}

.required:after {
  content: '*';
  color: red;
  margin-left: .25rem;
}


/*------------------------------------------------------------------------------------------------*/
body {
  background-color: #f7f7f9;
  font-size: 16px !important;
  color: #3b4056 !important;
  font-family: "Inter", sans-serif;
}

.essp-aside {
  width: 280px;
  background-color: #282a42;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  transition: all 200ms linear;
}

.essp-aside-hide {
  left: -280px;
}

.app-content {
  transition: all 200ms linear;
}

.essp-main-menu {
  width: 100%;
  list-style: none;
  padding: 0;
}

.app-brand {
  height: 64px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 1;
  min-height: 1px;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1.375rem;
  width: 100%;
  transition: padding .3s ease-in-out;
}

.app-brand-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.app-brand-text {
  user-select: none;
  -moz-user-select: none;
  -mc-user-select: none;
  -webkit-user-select: none;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 4px;
}

.app-brand-logo {
  user-select: none;
  -moz-user-select: none;
  -mc-user-select: none;
  -webkit-user-select: none;
  color: #ffffff !important;
  font-size: 35px;
  font-weight: 700;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-height: 1px;
}

.essp-main-menu > li {
  cursor: pointer;
  position: relative;
}

.essp-main-menu-notification {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.essp-main-menu-notification > span {
  background-color: rgb(255, 77, 73);
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0 0.3em;
}


.essp-main-menu > li:hover {
  background-color: rgba(247, 247, 249, .06);
}

li:has(>.essp-rout-active) {
  background-color: #666cff !important;
}

.essp-main-menu > li > a {
  color: #d7d8ee;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.essp-main-menu > li > a > i {
  font-size: 1.5em;
}

.essp-table-ico {
  display: flex;
  align-items: center;
}

.essp-table-ico > img {
  margin-right: 0.8em;
}

.essp-table-ico > div {
  display: flex;
  flex-direction: column;
}

.essp-table-ico > div > span {
  font-weight: 500;
  text-transform: none;
  margin-bottom: -0.2em;
  color: #3b4056 !important;
}

.essp-table-ico > div > small {
  font-size: 0.8em;
  color: #676b7b;
}

.essp-status-position {
  display: flex;
  align-items: center;
}

.essp-status-position > i {
  font-size: 1.2em;
  margin-right: 0.2em;
}

.essp-table-actions {
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

.essp-table-actions > i {
  cursor: pointer;
}

.essp-status-active {
  background-color: #e8fadd;
  color: #72e128;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-status-inactive {
  background-color: #e8e9ed;
  color: #6d788d;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-status-pending {
  background-color: #fff3dd;
  color: #fdb528;
  border-radius: 50rem;
  padding: 0.2em 1em;
  font-weight: 500;
  font-size: 0.9em;
}

.essp-th-spec-color {
  color: #3b4056 !important;
  background-color: #f5f5f7 !important;
  border-bottom: none;
  font-weight: 400;
}

table {
  --bs-table-color: #676b7b !important;
}

.app-shadow {
  box-shadow: 0 .25rem .875rem 0 rgba(38, 43, 67, .16) !important;
}

.app-padding-left {
  padding-left: 280px !important;
  transition: padding-left 200ms linear;
}

.navbar-header {
  padding-left: 0;

  transition: padding-left 200ms linear;
}

.app-background {
  background-color: #f7f7f9 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

span:has(i.bi) {
  padding: 0.1rem 0.25rem !important;
  transition: all 100ms linear;
}

ng-multiselect-dropdown .selected-item-container .selected-item {
  max-width: 100% !important;
  margin-bottom: 0.25rem !important;
  background-color: #e5e7eb !important;
  color: #4b5563 !important;
  border: none !important;
}

ng-multiselect-dropdown .selected-item-container .selected-item a {
  position: relative !important;
  font-weight: 600 !important;
  color: #4b5563 !important;
  width: 20px !important;
  text-align: center !important;
  user-select: none;
}

ng-multiselect-dropdown .selected-item-container .selected-item a:hover {

}

ng-multiselect-dropdown .dropdown-btn {
  border: 1px solid #dee2e6 !important;
}

/*ng-multiselect-dropdown .selected-item-container .selected-item a:before {
  content: '×';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}*/

/*----------------------------------------------------------*/

p-auto-complete ul.p-auto-complete-items,
p-autocomplete ul.p-autocomplete-items {
  list-style: none !important;
  padding-left: 0 !important;
}

p-auto-complete ul.p-auto-complete-items li,
p-autocomplete ul.p-autocomplete-items li {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem !important;
  transition: all 200ms linear;
  border-bottom: 1px #f1f1f1 solid !important;
}

p-auto-complete ul.p-auto-complete-items li:last-child,
p-autocomplete ul.p-autocomplete-items li:last-child {
  border-bottom: none !important;
}

p-auto-complete ul.p-auto-complete-items li:hover,
p-autocomplete ul.p-autocomplete-items li:hover {
  background-color: #f1f1f1 !important;
}

p-multiselect.p-multiselect {
  width: 100% !important;
}

/*-------------------------------------------------------------------------------*/

.p-multiSelect-customize .p-multiselect-header .p-checkbox-box,
.p-multiSelect-customize p-multiselectitem .p-checkbox-box {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.p-multiSelect-customize .p-multiselect-items {
  padding-left: 0 !important;
}

.p-multiSelect-customize p-multiselectitem .p-element {
  color: #334155;
}

.p-multiSelect-customize p-multiselectitem .p-element,
.p-multiSelect-customize .p-multiselect-item-group {
  padding: 0.3rem 0.75rem !important;
}

.p-multiSelect-customize .p-multiselect-item-group {
  color: #94a3b8;
}

.p-multiSelect-customize .p-multiselect-label {
  padding: 0.2rem !important;
}

.p-multiSelect-customize .p-multiselect-label .p-multiselect-token {
  border-radius: 8px !important;
  padding: 0.25rem 0.25rem !important;
}

.p-multiSelect-customize .p-multiselect-header .p-multiselect-filter-container input {
  min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: var(--bs-border-radius-sm);
}

/*-------------------------------------------------------------------------------*/

.right-full-p-modal .p-element {
  max-height: 100% !important;
  height: 100% !important;
  margin-right: 0 !important;
}

/*-------------------------------------------------------------------------------*/

.records-skeleton p-skeleton {
  display: flex;
  align-items: flex-end;
}

.records-skeleton p-skeleton:nth-child(1) .p-skeleton {
  height: 25px !important;
}

.records-skeleton p-skeleton:nth-child(2) .p-skeleton {
  height: 50px !important;
}

.records-skeleton p-skeleton:nth-child(3) .p-skeleton {
  height: 75px !important;
}

.records-skeleton p-skeleton:nth-child(4) .p-skeleton {
  height: 100px !important;
}

.records-skeleton p-skeleton:nth-child(5) .p-skeleton {
  height: 125px !important;
}

.records-skeleton p-skeleton:nth-child(6) .p-skeleton {
  height: 150px !important;
}

.records-skeleton p-skeleton:nth-child(7) .p-skeleton {
  height: 175px !important;
}

.records-skeleton p-skeleton:nth-child(8) .p-skeleton {
  height: 200px !important;
}

.records-skeleton p-skeleton:nth-child(9) .p-skeleton {
  height: 225px !important;
}

.records-skeleton p-skeleton:nth-child(10) .p-skeleton {
  height: 250px !important;
}

.records-skeleton p-skeleton:nth-child(11) .p-skeleton {
  height: 275px !important;
}

.records-skeleton p-skeleton:nth-child(12) .p-skeleton {
  height: 300px !important;
}

.records-skeleton p-skeleton:nth-child(13) .p-skeleton {
  height: 325px !important;
}

.records-skeleton p-skeleton:nth-child(14) .p-skeleton {
  height: 350px !important;
}

.records-skeleton p-skeleton:nth-child(15) .p-skeleton {
  height: 375px !important;
}

/*-------------------------------------------------------------------------------*/

.skeleton {
  background-color: #e5e7eb;
  border-radius: 6px;
  width: 2rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
}

.skeleton::after {
  content: "";
  animation: skeleton-animation 1.2s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  right: 0;
  top: 0;
  transform: translate(-100%);
  z-index: 1;
}

@keyframes skeleton-animation {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(100%);
  }
}

.p-calendar {
  width: 100% !important;
}

.bg-label-danger {
  background-color: #ffe3e2 !important;
  color: #ff4d49 !important;
}

.bg-label-secondary {
  background-color: #e8e9ed !important;
  color: #6d788d !important;
}

.bg-label-success {
  background-color: #e8fadd !important;
  color: #72e128 !important;
}

.bg-label-primary {
  background-color: #e7e7ff !important;
  color: #666cff !important;
}

.bg-label-info {
  background-color: #dcf6fe !important;
  color: #26c6f9 !important;
}

.bg-label-warning {
  background-color: #fff3dd !important;
  color: #fdb528 !important;
}

.custom-dropdown .p-dropdown-label {
  padding: 0.25rem !important;
}

.custom-dropdown .p-dropdown-items {
  padding: 0 !important;
}

.custom-dropdown .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 0.75rem !important;
}


/*---------info block--------*/
.ib-info-block-l {
  float: left !important;
  width: calc(100% - 20px) !important;
}

.ib-info-block-r {
  float: right !important;
  width: 20px !important;
  position: relative !important;
  display: inline-block !important;
}

.info-btn {
  cursor: pointer !important;
}

.info-btn img {
  height: 20px !important;
}

.info-content {
  display: none !important;
  position: absolute !important;
  background-color: rgb(30,40,50) !important;
  width: 500px !important;
  z-index: 1 !important;
  padding: 20px !important;
  border-radius: 5px !important;
  color: white !important;
  transition: all .2s linear;
}

.ib-info-block-r:hover .info-content {
  display: block !important;
}


/*---------------------------*/

/*-------------Calendar--------------*/

.p-calendar-border-none .p-datepicker {
  border: none !important;
}

.fc-scrollgrid  .fc-scrollgrid-liquid {
  border: none !important;
}

.fc-scrollgrid  .fc-scrollgrid-liquid .fc-scrollgrid-section-header {
  border: none !important;
}

.fc-toolbar-title {
  color: #3b4056 !important;
}

.fc .fc-toolbar .fc-button-group .fc-button.fc-next-button.fc-button-primary, .fc .fc-toolbar .fc-button-group .fc-button.fc-prev-button.fc-button-primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: #6d788d;
  color: #6d788d;
}

.fc .fc-toolbar .fc-button-group .fc-button.fc-next-button.fc-button-primary, .fc .fc-toolbar .fc-button-group .fc-button.fc-prev-button.fc-button-primary {
  margin-right: .5rem !important;
}

.fc .fc-button:focus {
  box-shadow: none !important;
}

.fc .fc-button-primary:hover {
  color: #6d788d !important;
  background-color: #f3f4f6 !important;
  border-color: #6d788d !important;
}

.fc-button-group {
  margin-left: 1.5rem !important;
  margin-right: 1rem !important;
}

.fc-button-group button {
  padding: 0.2rem !important;
  border: 1px solid #6d788d !important;
  border-radius: 5px !important;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border-left: none !important;
}

.light-style .fc table.fc-scrollgrid td {
  box-shadow: none !important;
  border-radius: .5rem !important;
  background-color: rgba(0, 0, 0, 0);
  border-color: #6d788d;
  color: #6d788d;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid var(--fc-border-color);
}

.fc .fc-toolbar:last-child {
  justify-content: flex-start;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child {
  margin-left: auto;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child .fc-button-group .fc-button:first-child {
  border-top-left-radius: .5rem !important;
  border-bottom-left-radius: .5rem !important;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child .fc-button-group .fc-button:last-child {
  border-top-right-radius: .5rem !important;
  border-bottom-right-radius: .5rem !important;
}

.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):active,
.fc .fc-button-primary:not(.fc-prev-button):not(.fc-next-button).fc-button-active {
  background-color: rgba(102, 108, 255, .1) !important;
  border-color: #666cff !important;
  color: #666cff;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child .fc-button-group .fc-button {
  border-radius: 0 !important;
  background: #ffffff;
  border-color: #666cff !important;
  color: #666cff;
  padding: .438rem 1.375rem !important;
  text-transform: capitalize;
}

.fc .fc-toolbar .fc-toolbar-chunk:last-child .fc-button-group .fc-button:hover {
  background: #ffffff;
  color: #666cff !important;
}

.fc .fc-day-today:not(.fc-col-header-cell) {
  background-color: #f2f2f4 !important;
}

.fc table.fc-scrollgrid .fc-col-header .fc-col-header-cell {
  border-left: none !important;
}

.fc table.fc-scrollgrid .fc-col-header .fc-col-header-cell {
  border-color: #e5e6e8 !important;
}

.app-calendar-wrapper table.fc-scrollgrid th,
.app-calendar-wrapper table.fc-scrollgrid td {
  border-right: 0;
}

.fc .fc-col-header-cell-cushion {
  color: #3b4056;
  font-weight: 500;
}

.fc .fc-col-header-cell-cushion {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.fc a:not([href]) {
  color: inherit !important;
  text-decoration: none;
  margin-left: 0.5rem;
}

.fc .fc-view-harness .fc-daygrid-body .fc-daygrid-day .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-event-danger:not(.fc-list-event) {
  border-color: rgba(255, 77, 73, .15);
}

.fc-event-danger:not(.fc-list-event) {
  background-color: #ffe3e2 !important;
  color: #ff4d49 !important;
}

.fc-event-primary:not(.fc-list-event) {
  background-color: #e7e7ff !important;
  color: #666cff !important;
}

.fc .fc-view-harness .fc-event {
  font-size: .875rem;
  font-weight: 400;
  padding: .1rem .5rem;
  border-radius: 50rem;
  border: none;
}

.fc .fc-daygrid-day-events .fc-event, .fc .fc-daygrid-day-events .fc-more-link {
  margin-left: .75rem !important;
  margin-right: .75rem !important;
}

.fc .fc-timegrid .fc-timegrid-event {
  border-radius: 0px;
  box-shadow: none;
  padding-top: .5rem;
}

/*.fc table.fc-scrollgrid td {
  border-color: #e5e6e8;
}
}*/


.fc .fc-timegrid-slot {
  height: 4em !important;
}

/*----------------------------------------*/

.form-check-danger .form-check-input:checked {
  background-color: #ff4d49;
  border-color: #ff4d49;
}

.form-check-secondary .form-check-input:checked {
  background-color: #6d788d;
  border-color: #6d788d;
}

.form-check-warning .form-check-input:checked {
  background-color: #fdb528;
  border-color: #fdb528;
}

.form-check-success .form-check-input:checked {
  background-color: #72e128;
  border-color: #72e128;
}

.form-check-info .form-check-input:checked {
  background-color: #26c6f9;
  border-color: #26c6f9;
}

.btn-group-custom label {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.btn-group-custom label:last-child {
  border-radius: 0;
  border-top-right-radius: .5rem !important;
  border-bottom-right-radius: .5rem !important;
}

.fc-event-time {
  margin-right: 3px;
}

.fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 700;
  min-width: 0px;
  overflow: hidden;
  font-weight: 400;
}

.fc-event-title span {
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  top: 0;
  position: sticky;
}

.fc-event-main {
  display: flex;
}

.fc-event {
  overflow: hidden;
}

.app-success-bg {
  background-color: #e8fadd !important;
}

.app-warning-bg {
  background-color: #fff3dd !important;
}

.app-danger-bg {
  background-color: #ffe3e2 !important;
}

.app-success-color {
  color: #72e128 !important;
}

.app-warning-color {
  color: #fdb528 !important;
}

.app-danger-color {
  background-color: #ff4d49 !important;
}

.p-calendar-pt-0 .p-datepicker {
  padding-top: 0;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.usr-btn:hover i {
  color: #000 !important;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn:hover {
  background-color: rgba(148, 163, 184, .12);
  color: #1a80f8;
}

.menu-content {
  position: absolute;
  background-color: #ffffff;
  padding: 0.25rem;
  box-shadow: 0 1px 10px #cccccc;
  top: 50px;
  right: -0.8rem;
  border-radius: 3px;
  transform-origin: right top;
  min-width: 200px;
}

.menu-content .menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 3px;
}

.menu-content .menu-item span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
  /*border: 1px solid #cccccc;
  border-radius: 50%;*/
}

.menu-content .menu-item span:first-child i {
  font-size: 1.2rem;
}

.menu-content .menu-item:hover {
  background-color: rgba(0, 0, 0, .04)
}

.show {
  display: block !important;
}


/*-----------Tab-------------*/

:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
}
.tabs * {
  z-index: 2;
}
input[type="radio"] {
  display: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}
input[type="radio"]:checked + label {
  color: var(--primary-color);
}
input[type="radio"]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}
input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}
input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}
input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}
.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 150px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}
@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}


/*-----------Tab-------------*/

