<div class="img js-fullheight">
  <div class="container-fluid">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-6 col-lg-4 form-login">
            <div class="login-wrap p-0">
              <h3 class="mb-5 text-center">Вход</h3>
              <form [formGroup]="loginFormGroup" class="signin-form">
                <div class="form-group">
                  <input formControlName="username" type="text" class="form-control is-invalid" placeholder="Логин"
                         required
                         [class.is-invalid]="loginFormGroup.controls['username'].invalid && (loginFormGroup.controls['username'].dirty || loginFormGroup.controls['username'].touched)"
                         (keyup.enter)="loginFormGroup.valid && login()"
                  >
                </div>
                <div class="form-group">
                  <input formControlName="password" id="password-field"
                         type="{{togglePassword() ? 'text' : 'password'}}" class="form-control" placeholder="Пароль"
                         required
                         [class.is-invalid]="loginFormGroup.controls['password'].invalid && (loginFormGroup.controls['password'].dirty || loginFormGroup.controls['password'].touched)"
                         (keyup.enter)="loginFormGroup.valid && login()"
                  >
                  <span class="toggle-password" (click)="togglePassword.set(!togglePassword())">
                    @if (togglePassword()) {
                      <i class="bi bi-eye"></i>
                    } @else {
                      <i class="bi bi-eye-slash"></i>
                    }
                  </span>
                </div>
                <div class="form-group">
                  <button [disabled]="loginFormGroup.invalid || loading"
                          [class.disabled]="loginFormGroup.invalid || loading" (click)="login()" type="button"
                          class="form-control btn btn-primary submit px-3"
                          [class.loader]="loading"
                  >
                    <span class="fw-bold position-relative">Войти</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
